body{
  margin: 0;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
}
p{
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}


.top{
  color: #a3f7bf;
  background-color: #222831;
  padding: 0 33% 0 33%;
}

.middle{
  background-color: #393e46;
  padding: 0 33% 0 33%;
}

.bottom{
  background-color: #222831;
  padding: 0 33% 0 33%;
}
